doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title Myo - Tetris
    script(src="myo.js")
    //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
    link(rel="stylesheet" href="./style.css")
    script(src='https://cdn.plot.ly/plotly-2.9.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js')
  body
    div(class="container")
      div(class="container-item")
        div(id="controls" class='labels')
          span Please select the control method:
          form
            i(class="fa-solid fa-la fa-keyboard")
            i(class="fa-solid fa-la fa-hand-fist")
            i(class="fa-solid fa-la fa-up-down-left-right")
            select(id="control-method")
              option(id="keyboard-control" value="keyboard") Keyboard
              option(id="gesture-control" value="gesture") Gesture
              option(id="arm-control" value="arm") Arm
          form
            i(class="fa-solid fa-la fa-arrow-left")
            label Left:
            select(id="leftSelect")
              option(value="wave-in") Wave in
              option(value="wave-out") Wave out
              option(value="fist") Fist
              option(value="fingers-spread") Finger spread
              option(value="double-tap") Double tap
            br
            i(class="fa-solid fa-la fa-arrow-right")
            label Right:
            select(id="rightSelect")
              option(value="wave-out") Wave out
              option(value="fist") Fist
              option(value="fingers-spread") Finger spread
              option(value="double-tap") Double tap
              option(value="wave-in") Wave in
            br
            i(class="fa-solid fa-la fa-undo flipx")
            label Rotate:
            select(id="rotateSelect")
              option(value="fist") Fist
              option(value="fingers-spread") Finger spread
              option(value="double-tap") Double tap
              option(value="wave-in") Wave in
              option(value="wave-out") Wave out
            br
            i(class="fa-solid fa-la fa-arrow-down")
            label Down:
            select(id="downSelect")
              option(value="fingers-spread") Finger spread
              option(value="double-tap") Double tap
              option(value="wave-in") Wave in
              option(value="wave-out") Wave out
              option(value="fist") Fist

      div(class="container-item")
        div(id='outer-board')
          div(id='board') 
            div(id='banner')
              div 
                div(id='message')
                div(id='new-game') Tap here to start!
            - var n=0;
            while n < 160
              div(class="empty")
                div(class="inner-tile")
                  div(class="inner-inner-tile")
              - n++;
          div(id='stats')
            div(class='labels') Scores
              div(id='score' class='frame') 0        
            button(class='btn btn-rounded' id="left") 
              i(class="fa-solid fa-2xl fa-arrow-left")
            button(class='btn btn-rounded' id="right")
              i(class="fa-solid fa-2xl fa-arrow-right")
            button(class='btn btn-rounded' id="rotate") 
              i(class="fa-solid fa-2xl fa-undo flipx")
            button(class='btn btn-rounded' id="down") 
              i(class="fa-solid fa-2xl fa-arrow-down")
            button(class='btn btn-rounded' id="control")
              i(class="fa-solid fa-2xl fa-gamepad")
            button(class='btn btn-rounded' id="settings")
              i(class="fa-solid fa-2xl fa-gear")

      div(class="container-item labels")
        table(id='sensor-data')
          thead
            tr
              th(colspan="2") Myo-Armband Sensordaten
          tbody
            tr
              th(colspan="2") Accelerometer
            tr
              th x
              td(id="accelerometer-x") 0.11
            tr
              th y
              td(id="accelerometer-y") 0.12
            tr
              th z
              td(id="accelerometer-z") 0.13
            tr
              th Length
              td(id="accelerometer-length") 0.14
            tr
              td(colspan="2")
                button(id="accelerometer-calibrate" class="btn") Calibrate
            tr
              th x (calibrated)
              td(id="accelerometer-x-calib") 0.11
            tr
              th y (calibrated)
              td(id="accelerometer-y-calib") 0.12
            tr
              th z (calibrated)
              td(id="accelerometer-z-calib") 0.13
            tr
              th Length (calibrated)
              td(id="accelerometer-length-calib") 0.14
            tr
              th(colspan="2") Gyroscope
            tr
              th x
              td(id="gyroscope-x") 0.11
            tr
              th y
              td(id="gyroscope-y") 0.12
            tr
              th z
              td(id="gyroscope-z") 0.13
            tr
              th(colspan="2") Orientation
            tr
              th x
              td(id="orientation-x") 0.11
            tr
              th y
              td(id="orientation-y") 0.12
            tr
              th z
              td(id="orientation-z") 0.13
            tr
              th w
              td(id="orientation-w") 0.14
        label x (calibrated)
        meter(id="cal-x" min="-1" max="1" value="0.11")
        br
        label y (calibrated)
        meter(id="cal-y" min="-1" max="1" value="0.12")
        br
        label z (calibrated)
        meter(id="cal-z" min="-1" max="1" value="0.13")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/animatelo/1.0.3/animatelo.min.js')
    script(src="./script.js")