doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title Myo - Tetris
    script(src="myo.js")
    //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
    link(rel="stylesheet" href="./style.css")
    script(src='https://cdn.plot.ly/plotly-2.9.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js')
  body
    div(class="container")
      div(class="container-item")
        div(id="controls" class='labels')
          span Please select the control method
          //- make user selectable keyboard-only or gesture-only
          form
            select(id="control-method")
              option(id="keyboard-control" value="keyboard") Keyboard
              option(id="gesture-control" value="gesture") Gesture
              option(id="arm-control" value="arm") Arm
          //- make user selectable gestures for different actions
          form
            div(id="icons")
              i(class="fa-solid fa-2xl fa-keyboard" id="keyboard-icon")
              i(class="fa-solid fa-2xl fa-hand-fist" id="gesture-icon")
              i(class="fa-solid fa-2xl fa-up-down-left-right" id="arm-icon")
            div(id='descriptions')
              p(id='keyboard-description') Classic gameplay, use the arrow keys on your computer keyboard to control the movement, rotation and falling of blocks
              p(id='gesture-description') Change the state of the block by making the corresponding gesture, you can set your preferred control below
              p(id='arm-description') Change the state of the block by waving the arm
            div(id="gesture-options")
              i(class="fa-solid fa-xl fa-arrow-left gesture-icons")
              select(id="leftSelect")
                option(value="wave-in") Wave in
                option(value="wave-out") Wave out
                option(value="fist") Fist
                option(value="fingers-spread") Finger spread
                option(value="double-tap") Double tap
              br
              i(class="fa-solid fa-xl fa-arrow-right gesture-icons")
              select(id="rightSelect")
                option(value="wave-out") Wave out
                option(value="fist") Fist
                option(value="fingers-spread") Finger spread
                option(value="double-tap") Double tap
                option(value="wave-in") Wave in
              br
              i(class="fa-solid fa-xl fa-undo flipx gesture-icons")
              select(id="rotateSelect")
                option(value="fist") Fist
                option(value="fingers-spread") Finger spread
                option(value="double-tap") Double tap
                option(value="wave-in") Wave in
                option(value="wave-out") Wave out
              br
              i(class="fa-solid fa-xl fa-arrow-down gesture-icons")
              select(id="downSelect")
                option(value="fingers-spread") Finger spread
                option(value="double-tap") Double tap
                option(value="wave-in") Wave in
                option(value="wave-out") Wave out
                option(value="fist") Fist
      //- game interface
      div(class="container-item")
        div(id='outer-board')
          div(id='board') 
            div(id='banner')
              div 
                div(id='message')
                div(id='new-game') Tap here to start!
            - var n=0;
            while n < 160
              div(class="empty")
                div(class="inner-tile")
                  div(class="inner-inner-tile")
              - n++;
          div(id='stats')
            div(class='labels') Scores
              div(id='score' class='frame') 0        
            button(class='btn btn-rounded' id="left") 
              i(class="fa-solid fa-2xl fa-arrow-left")
            button(class='btn btn-rounded' id="right")
              i(class="fa-solid fa-2xl fa-arrow-right")
            button(class='btn btn-rounded' id="rotate") 
              i(class="fa-solid fa-2xl fa-undo flipx")
            button(class='btn btn-rounded' id="down") 
              i(class="fa-solid fa-2xl fa-arrow-down")
            button(class='btn btn-rounded' id="control")
              i(class="fa-solid fa-2xl fa-gamepad")
            button(class='btn btn-rounded' id="settings")
              i(class="fa-solid fa-2xl fa-gear")
      //- add meters to table
      div(class="container-item labels")
        table(id='sensor-data')
          thead
            tr
              th(colspan="3") Myo-Armband Sensor Data
          tbody
            tr
              th(colspan="3" class="th-colspan") Accelerometer
            tr
              td x
              td(id="accelerometer-x") 0.11
              td
                meter(id="acc-x" min="-1" max="1" value="0.11")
            tr
              td Rotate threshold
              td(id="rotate-thr") 0.1
              td
                input(type="range" id="rotate-threshold" min="0.3" max="0.9" step="0.1")
            tr
              td Down threshold
              td(id="down-thr") -0.1
              td
                input(type="range" id="down-threshold" min="-0.9" max="-0.3" step="0.1")
            tr
              td y
              td(id="accelerometer-y") 0.12
              td
                meter(id="acc-y" min="-1" max="1" value="0.12")
            tr
              td Left threshold
              td(id="left-thr") -0.1
              td
                input(type="range" id="left-threshold" min="-0.9" max="-0.3" step="0.1")
            tr
              td Right threshold
              td(id="right-thr") 0.1
              td
                input(type="range" id="right-threshold" min="0.3" max="0.9" step="0.1")
            tr
              td z
              td(id="accelerometer-z") 0.13
              td
                meter(id="acc-z" min="-1" max="1" value="0.13")
            tr
              td Length
              td(id="accelerometer-length") 0.14
              td
                meter(id="acc-length" min="-1" max="1" value="0.14")
            tr
              th(colspan="3" class="th-colspan") Calibrated accelerometer
                button(id="accelerometer-calibrate" class="btn btn-rounded")
                  i(class="fa-solid fa-xl fa-gauge-simple")
            tr
              td x
              td(id="accelerometer-x-calib") 0.11
              td
                meter(id="cal-x" min="-1" max="1" value="0.11")
            tr
              td y
              td(id="accelerometer-y-calib") 0.12
              td
                meter(id="cal-y" min="-1" max="1" value="0.12")
            tr
              td z
              td(id="accelerometer-z-calib") 0.13
              td
                meter(id="cal-z" min="-1" max="1" value="0.13")
            tr
              td Length
              td(id="accelerometer-length-calib") 0.14
              td
                meter(id="cal-length" min="-1" max="1" value="0.14")
            tr
              td Length threshold
              td(id="length-thr") 0.5
              td
                input(type="range" id="length-threshold" min="0" max="4" step="0.5")
            tr
              th(colspan="3" class="th-colspan") Gyroscope
            tr
              td x
              td(id="gyroscope-x") 0.11
              td
                meter(id="gyr-x" min="-1" max="1" value="0.11")
            tr
              td y
              td(id="gyroscope-y") 0.12
              td
                meter(id="gyr-y" min="-1" max="1" value="0.12")
            tr
              td z
              td(id="gyroscope-z") 0.13
              td
                meter(id="gyr-z" min="-1" max="1" value="0.13")
            tr
              th(colspan="3" class="th-colspan") Orientation
            tr
              td x
              td(id="orientation-x") 0.11
              td
                meter(id="ori-x" min="-1" max="1" value="0.11")
            tr
              td y
              td(id="orientation-y") 0.12
              td
                meter(id="ori-y" min="-1" max="1" value="0.12")
            tr
              td z
              td(id="orientation-z") 0.13
              td
                meter(id="ori-z" min="-1" max="1" value="0.13")
            tr
              td w
              td(id="orientation-w") 0.14
              td
                meter(id="ori-w" min="-1" max="1" value="0.14")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/animatelo/1.0.3/animatelo.min.js')
    script(src="./script.js")